<app-navbar></app-navbar>
<div class="center-container">
  <div class="forgot-password-container">
    <h2>Cambiar Contraseña</h2>
    <div class="group">
      <label for="oldPassword" class="label">Contraseña Antigua</label>
      <input type="password" name="oldPassword" class="input" [(ngModel)]="oldPassword">
    </div>
    <div class="group">
      <label for="newPassword" class="label">Nueva Contraseña</label>
      <input type="password" name="newPassword" class="input" [(ngModel)]="newPassword">
    </div>
    
    <div class="group">
      <button type="button" class="button" (click)="initPassword()">Cambiar Contraseña</button>
    </div>
  </div>

</div>
<app-footer></app-footer>