<div class="coctel-list-container">
  <div class="search-input">
    <div class="form-group">
      <input type="text" class="form-control" name="filterDrink" placeholder="Search..." [(ngModel)]="filterDrink">
    </div>
  </div>
  <div class="drink-card" *ngFor="let drink of allCocktailsList | filter:filterDrink">
    <h4 class="drink-title">{{drink.strDrink}}</h4>
    <button (click)="addCocktailToBodegaPersonal(drink.idDrink)">Add to Favourites</button>
    <img class="drink-img" [src]="drink.strDrinkThumb" alt="Cocktail">
  </div>
</div>