/* styles.css o tu archivo de estilos principal */

.coctel-list-container {
  max-width: 600px; /* Ajusta según tus preferencias */
  margin: 0 auto;
  padding: 20px;
}

.search-input {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* Nuevo estilo para .drink-card-container */
.drink-card-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas pasen a la siguiente fila */
  justify-content: space-between; /* Alinea las tarjetas horizontalmente */
}

.drink-card {
  width: 48%; /* Establece el ancho para dos tarjetas por fila (puedes ajustar según sea necesario) */
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 8px; /* Agregado borde redondeado a las tarjetas */
  overflow: hidden;
  border: 1px solid #ddd;
}

.drink-card:hover {
  transform: scale(1.02);
}

.drink-title {
  font-size: 18px;
  margin: 10px;
}

.drink-img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ajusta el tamaño de la imagen sin deformarla */
  border-radius: 8px 8px 0 0; /* Añade bordes redondeados a la imagen */
}
