
.search-input {
  margin-top: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  gap: 20px;
  grid-auto-rows: minmax(200px, auto);
  margin-top: 40px;
}

.coctel-list-container {
  max-width: 1280px;
  margin: auto;
}

.drink-card {
  width: 100%;
  border: solid 2px #0000001f;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 1px #00000017;
  position: relative;
  overflow: hidden;
}

.favourite-img{
  max-width: 50px;
}

.drink-card button {
  border: none;
  background: #fff;
  position: absolute;
  right: 30px;
  top: 60px;
  padding: 10px;
  border-radius: 50%;
  display: none;
  border: solid 1px #000;
}

img.favourite-img {
  max-width: 35px;
}

.drink-card:hover button {
  display: block;
}

h4.drink-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 10px;
}