<!-- <app-navbar></app-navbar>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2J4GNh8xiJrZCFFLW5q5xG5eG5e+uH8" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-wSL7H4cE2DpPm1cLU5tmIHOJ5q9pe2diCIxq4EsCCpqKzQcLcofAUzQusFX3/uABe/3PynLZAOsSgwsdzJTR8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/scrollreveal"></script>

<header class="container-fluid">
    <div class="row">
        <div class="col-md-6 header-left-side">
            <h1 class="display-3 text-white">
                Cheborrap <br />
                Badra & Ricciardi       
            </h1>
            <h2 class="font-weight-bold text-white">Elixir a tu paladar</h2>
            <p class="text-light">
                "CheborrApp: Desatando la Revolución de la Cocktelería. Rompemos esquemas, desafiamos lo convencional y te invitamos a explorar el mundo polémico de los cócteles. ¡Prepárate para una experiencia inigualable y descubre tus límites en el arte de la mixología!"
            </p>
            
        
            <div class="mt-3">
                <button class="btn btn-light btn-sm">Hire now</button>
            </div>
        </div>
        <div class="col-md-6 header-right-side text-center">
            <img src="../../../assets/usss.jpg" alt="img" class="img-fluid">
        </div>
    </div>

    <div class=" mt-5">
        <div class="col-md-12">
            <h3 class="text-white">Misión</h3>
            <p class="text-light">
                Nuestra misión es...
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="text-white">Objetivo</h3>
            <p class="text-light">
                Buscamos alcanzar...
            </p>
        </div>
    </div>
</header>

<app-footer></app-footer> -->

<app-navbar></app-navbar>
<section class="about-us" id="about">
  <div class="container">
    <div class="logo">
      <img src="./../../../assets/cheborrap-logo.png" alt="" />
    </div>
    
    <div class="line-shape"></div>
    <p class="main-text">
      CheborrApp es un sitio web destinado a compartir el mundo de la
      cocktelería. Ofreciendo en base a los intereses de los usuarios opciones
      personalizadas para encontrar su cocktel perfecto. A partir del
      procesamiento realizado por nuestro backend de una API, obtenemos una base
      de datos limpia y lista para ser usada en nuestro frontend o cliente.
    </p>
  </div>
</section>
<br />
<section class="services-class" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Explora Nuestro Mundo</h2>
        <div class="line-shape"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fab fa-angular fa-beat fa-8x" style="color: #b84d32;"></i>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa-brands fa-html5 fa-beat fa-8x"></i>
            </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa-brands fa-css3-alt fa-beat fa-8x" style="color: #214a9b;"></i>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa-brands fa-square-js fa-beat fa-8x" style="color: #94bf1d;"></i>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<div class="container text-center" id="portfolio">
  <h2 class="portfolio-title">Para los curiosos que quieran adentrarse en este mundo...</h2>
  <div class="line-shape"></div>
</div>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
       
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Te saludamos</h2>
          <p>
            Senti ese nectar en todo tu cuerpo, dejate fluir...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="../../../assets/cheborrapp.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Un Brindis por la Vida! </h2>
          <p>
            En CheborrApp, no solo ofrecemos cócteles exquisitos, sino que también celebramos la vida. Cada sorbo es un saludo a nuevas experiencias y 
            momentos inolvidables.
             Únete a nosotros y levanta tu copa para celebrar la alegría de vivir.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="../../../assets/coctel-helado-rojo-sobre-mesa.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Descubre Experiencias Únicas</h2>
          <p>
            Sumérgete en la magia de los cócteles y descubre experiencias únicas que despertarán tus sentidos.
             ¡Bienvenido a CheborrApp, donde cada sorbo es una aventura por explorar!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-us" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contáctanos</h2>
        <div class="line-shape"></div>
        <p>
          Estamos aquí para responder cualquier pregunta que tengas. ¡No dudes en contactarnos para descubrir más sobre nuestros cócteles y servicios!
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <form>
      <div class="row">     
        <div class="col-md-6 form-line">
          <div class="form-group">
            <label for="exampleInputUsername">Nombre</label>
            <input
              type="text"
              class="form-control"
              id=""
              placeholder=" Ingresa tu nombre"
            />
          </div>
          
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail"
              placeholder=" Ingresa tu email"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="description">Mensaje</label>
            <textarea
              class="form-control"
              id="description"
              placeholder="Ingresa un mensaje"
            ></textarea>
          </div>
          <button type="button" class="btn btn-primary submit" (click)="addMessageContact()">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar Mensaje
        </button>
        </div>
      </div>
    </form>
  </div>
</section>
<br />
<app-footer></app-footer>
